@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-heebo: 'Heebo', sans-serif;
	--color-primary: #ff6464;
	--color-secondary: #edf7fa;
}

html,
body,
table {
	@apply font-heebo scroll-smooth bg-white text-base text-black;
}
